footer {
  display: inline-block;
  width: 100%;
  background-color:white;
  padding-top:15px;
  padding-bottom:11px;
  bottom:0px;
  margin-bottom: 0px;
  -webkit-box-shadow: -2px -3px 5px 0px rgba(0,0,0,0.22);
  -moz-box-shadow: -2px -3px 5px 0px rgba(0,0,0,0.22);
  box-shadow: -2px -3px 5px 0px rgba(0,0,0,0.22);
  .direitos {
    text-align: left;
  }
  .grupo {
    text-align: right;
  }
  img {
    height:23px;
    width: auto;
  }
}
